/build/terraform/terraform.tfvars
/repo/terraform/terraform.tfvars
build/terraform/terraform.tfstate
build/terraform/terraform.tfstate.backup
build/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.51.0/darwin_amd64/terraform-provider-aws_v4.51.0_x5
repo/terraform/.terraform.lock.hcl
repo/terraform/terraform.tfstate
repo/terraform/terraform.tfstate.backup
repo/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.51.0/darwin_amd64/terraform-provider-aws_v4.51.0_x5
/private/
/build/k8s/kubectl/unsafe/
build/k8s/.terraform.lock.hcl
build/k8s/.terraform/terraform.tfstate
build/k8s/.terraform/providers/registry.terraform.io/hashicorp/helm/2.9.0/darwin_amd64/terraform-provider-helm_v2.9.0_x5
/build/
.gradle
/k8s/.terraform.lock.hcl
k8s/.terraform/terraform.tfstate
k8s/.terraform/providers/registry.terraform.io/hashicorp/helm/2.10.1/darwin_amd64/terraform-provider-helm_v2.10.1_x5
